
 
 
 .container {
   max-width: 1200px;
    margin: 0px auto;
}

.body {
    font-family: titillium;
}

  /** navbar **/


.navbar-expand-lg {
    background-color: rgb(19, 20, 20);
    color: #fff;
}

.nav-media {
    margin-left: 25px;
    font-size: 18px;
}

.nav-media-1 {
    display: flex;

}

.nav-media-1 figure {
    margin-right: 15px;
}


.nav-media-2 {
    display: flex;
}

.nav-media-2 figure {
    margin-right: 20px;
}



/** slider **/

.carousel-item {
    background-image: url("../images/slider2-home1-1.jpg");
    height: 700px;
    background-size: cover;
}

.slider-text h1 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 150px;
    vertical-align: middle;
    -webkit-text-stroke: 1px white;
    color: transparent;

  }
  

  .slider-text h3 {
    color: #fff;
    margin-bottom: 60px;
  }

  .slider-text h1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 90px;
  }


  .slider-text a{
      padding: 5px 10px;
      border: 1px solid black;
      background-color: #181818;
  }


  .slider-text {
    margin-top: 160px;
  }

/** service **/ 


.service-box1 {
    padding: 37px 60px;
    background-image: url("../images/bg-iconbox1\ \(1\).jpg");
    border: 1px solid black;
    background-size: cover;
} 

.service-box2 {
    padding: 37px 60px;
    background-image: url("../images/bg-iconbox2.jpg");
    border: 1px solid black;
    background-size: cover;
} 


.service-box3 {
    padding: 37px 60px;
    background-image: url("../images/bg-iconbox3.jpg");
    border: 1px solid black;
    background-size: cover;
} 


.service-img {
    justify-content: center;
    display: flex;
    height: 84px;
}


.service-text h6{
    font-weight: 700;
}

.service-text h5{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

.service-text p{
    color: #555555;
}

/** founder section **/

.founder-section {
    background-image: url("../images/bg1-home1.jpg");
    padding: 90px 0px 90px 0px;
    background-size: cover;

}

/* .founder-text1 {
    height : 144px;
    width : 570px;
} */

.founder-text1 li {
    font-size: 30px;
    list-style: none;
}


/** about company **/

.about-text3 a{
  padding: 18px 41px;
  border: 1px solid black;
  background-color: black;
  color: white;
    
}

.about-text1 {
    padding: 60px 0px 0px 0px;
}

.about-text0 {
    margin-bottom: 16px;
}


.about-dot {
    padding: 15px 0px 0px 0px ;
}

.about-text3 {
    padding: 0px 0px 40px 0px 
}

.about-text2 {
    padding: 0px 0px 15px 0px 
}


.about-text2 img{
    height: 230px;
    width: 230px;
    float: right;
}



/** our skill **/


.skill-text-1 {
    padding: 60px 0px 0px 0px;
}


.company-section {
    padding: 110px 0px ;
}
 
.progress-1 a {
    position: relative;
    left: 260px;
}

.progress-2 a {
    position: relative;
    left: 400px;
}

.progress-3 a {
    position: relative;
    left: 220px;
}

.progress-2 p {
    margin-bottom: 30px;
}

.our-skill span {
    font-weight: 600;
}

/** client **/


.client-section img {
    width: 90px
}

.client-section {
    padding: 71px 0px ;
    background-color: #f0eeee;
}

.client-img {
    display: flex;
    justify-content: center;
    
}


/** portfolio **/ 

.portfolio-section {
    background-image: url("../images/bg2-home1.jpg");
 
}

.portfolio-heading h2 {
    padding: 30px 0px;
}




/** get in touch **/

.touch-section {
    background-image: url("../images/bg1-home1.jpg");
    padding: 73px 0px;
}



.touch-box-2 a{
    padding: 18px 41px;
    background-color: white;   
    position: relative;
    left: 110px;
    top: 35px;
    border: 1px solid black;
    font-weight: 700;
    color: black;
}

.touch-box-2 a:hover{
    background-color: black;
    color: white;
}

/** skilled section **/


.skill-section img {
   width: 253px; 
}

.skill-section {
    background-image: url("../images/bg2-home1.jpg");
}

.skill-section h2 {
    text-align: center;
    padding: 30px 0px ;
}



/** blog **/ 


.blog-img-1 {
    width: 357px;
    height: 210px;
    background-image: url("../images/post1.jpg");
    background-size: cover;
}

.blog-img-2 {
    width: 357px;
    height: 210px;
    background-image: url("../images/post2.jpg");
    background-size: cover;
}

.blog-img-3 {
    width: 357px;
    height: 210px;
    background-image: url("../images/post1\ \(1\).jpg");
    background-size: cover;
}

.blog-img-1 a{
    padding: 5px 20px;
    background-color: #181818;
    color: #fff;
    position: relative;
    top: 183px;
}

.blog-img-2 a{
    padding: 5px 20px;
    background-color: #181818;
    color: #fff;
    position: relative;
    top: 183px;
}

.blog-img-3 a{
    padding: 5px 20px;
    background-color: #181818;
    color: #fff;
    position: relative;
    top: 183px;
}


.blog-section {
    background-image: url("../images/bg2-home1.jpg");
    
}


.inner-blog {
   background-color: #fff;
   border: 1px solid gray;
   
}


/** footer **/


.footer-section {
    background-color: #181818;
    color: rgb(130, 130, 130);
    padding: 100px 0px ;
}


.footer-box ul{
    padding: 0;
}


.footer-box li {
    list-style: none;
    margin-bottom: 15px;
}


.footer-box input {
    background: transparent;
    border-bottom: 1px solid white;
    outline: 0;
   
}

.footer-box i {
   color: rgb(130, 130, 130);
    background-color: #181818;
    margin: 0px 10px 0px 0px;
}


.footer-box button {
    background-color: #181818;
    border: none;
}

 .footer-box h6 {
    color: #fff;
} 

.footer-heading {
    padding: 20px 0px 40px 0px;
}

.footer-media {
    display: flex;
}

.footer-media i{
   margin-right: 30px;
   font-size: 20px;
}

.footer-box p {
    margin-bottom: 30px;
}



/** copyright **/ 

.copyright-section {
    background-color: #181818;
    color: rgb(130, 130, 130);
    border-top: 1px solid rgb(129, 129, 129);
}

.copyright-2 li{
    float:right;
    list-style: none;
}


.copyright-1 a {
    text-decoration: none;
}